<div id="uniModal" class="modal fade" role="dialog" ng-controller="modalCtrl">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" ng-model="uniModalTitle"></h4>
      </div>
      <div class="modal-body" ng-model="uniModalBody">
            
      </div>
      <div class="modal-footer" id="messageButtons">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>