<nav class="navbar-default navbar-static-side" role="navigation"  >
    <div class="sidebar-collapse" >
        <ul side-navigation class="nav metismenu" id="side-menu" >
            <li class="nav-header"   >

                <div class="profile-element" uib-dropdown >
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                 <!-- <div class="text-center">
                                        <img style="width:150px; height:70px;" id="profilePicture" alt="Image" src="./images/CREMIS_NEW_02.png" >
                                </div> -->
                                <div class="text-center" >
                                        <img style="width:100px; height:100px;" id="profilePicture" alt="Image" src="./images/jobBoardPic.jpg" class="img-circle">
                                </div>
                                <span class="block m-t-xs text-center">
                                    <strong class="font-bold">Job Board Admin</strong>
                                </span>
                                <span class="text-muted text-center text-xs block">My Account<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                        <li><a href="index.php">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element" profile-element>
                    JB
                </div>

            </li>

            <li ui-sref-active="active"><a ui-sref="index.loadjobs">Jobs Dashboard</a></li>

           
        </ul>

    </div>
</nav>